*.DS_Store
mac/roles/vim/files/plugin/
arch/roles/vim/files/plugin/
mac/roles/tmux/files/plugins/
arch/roles/tmux/files/plugins/
*.retry
mac/roles/vim/files/pack/minpac/start/*
arch/roles/vim/files/pack/minpac/start/*
mac/roles/vim/files/pack/minpac/opt/*
arch/roles/vim/files/pack/minpac/opt/*
mac/roles/vim/files/pack/minpac/opt/minpac
arch/roles/vim/files/pack/minpac/opt/minpac

arch/roles/vim/files/bundle
mac/roles/vim/files/bundle


.idea
